#map {
    width: 100%;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #333;
}

.overlay-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.initial{
    background-color: #0b5ed7;
}
